body{
    font-family: 'Roboto', sans-serif;
}

.logo-saba img{
    width: 125px;
    height: auto;
}
.list-social{
    padding: 0px;
    margin: 0px;
    li{
        margin-right: 0px !important;
        border: none !important;
        padding-left: 5px; 
        a{
            display: flex;
            width: 23px;
            height: 23px;
            background-color: #fff;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
        }
        a i{
            color: #000;
            font-size: 14px;
        }
    }
}
header{
    .logo{
        background-color: #fff;
        padding: 15px 30px;
        position: absolute;
        top: -70px;
        img{
            width: 155px
        }
    }  
    .nav-item a{
        line-height: normal;
        padding-top: 0px;
        padding-bottom: 0px; 
    }

    .list-social{
        margin-left: 20px;
    }

    .sub-nav{
        background-color: #000;
        .navbar-nav{
            li{
                margin-left: 15px;
                font-size: 13px;
                color: #fff;
                a{
                    font-size: 13.5px;
                    color: #fff
                }
                i{
                    color: #9CE4D0;
                    font-size: 17px;
                    vertical-align: middle;
                    padding-right: 3px;
                }
            }
        }
    }

    .principal-nav{
        background-color: rgba(0, 0, 0, 0.74);
        padding: 30px 0px;
        .container{
            position: relative;
        }
        .navbar-nav{
            li{
                margin: 0px 15px;
                font-size: 13px;
                color: #fff;

                a{
                    font-size: 14px;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 0px !important;
                    letter-spacing: 0.5px;
                }
            }
            li:last-child{
                margin-right: 0px !important;
            }
        }
    }
}